#root {
  width: 100%;
  min-height: 100%;
  background: linear-gradient(90deg, #F8FBF2 0%, rgba(243, 248, 255, 1) 100%);
  text-align: center;
}

h1, h4 {
  margin: 1rem;
}

.form {
  position: relative;
  margin: 0 2rem;

  & .form-error {
    color: red;
    font-size: 0.75rem;
    height: 1rem;
    margin: 1rem;
  }
}

.form .field {
  display: block;
  padding-bottom: 32px;

  &.field-has-error {
    padding-bottom: 12px;

    & .react-datetime-picker__wrapper {
      border-color: red;
    }
  }

  & .field-error {
    color: red;
    font-size: 0.75rem;
    height: 1rem;
    padding: 2px 0;
  }
}

.form .field-input,
.form .react-datetime-picker__wrapper {
  background-color: white;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  outline: 0;
  height: 40px;
  font-family: 'Courier New', Courier, monospace;
  width: 260px;
  font-size: 14px;

  & .react-datetime-picker__button svg {
    stroke: #666;
    width: 16px;
    height: 16px;
  }

  &:focus {
    border-color: #32a1ce;
  }
}

.form .field-input {
  padding: 8px 16px;
}

.react-datetime-picker--open .react-datetime-picker__wrapper
{
  border-color: #32a1ce;
}

.form button[type=submit] {
  background-color: #9dc53b;
  color: white;
  font-weight: normal;
  outline: 0;
  border: 0;
  position: relative;

  &:hover {
    background-color: #f2951f;
    outline: 0;
    border: 0;
  }

  &:active {
    background-color: #db800d;
    outline: 0;
    border: 0;
  }

  &:focus {
    outline: 1px solid #32a1ce;
  }

  .form-loading & {
    color: transparent;
  }
}

.result-section
{
  margin: 16px;
}